<%= form_for @player do |p| %>

<%= p.label :nickname %> <br>
<%= p.text_field :nickname %> <br>
<%= p.label :rank %> <br>
<%= p.text_field :rank %> <br>
<%= p.label :charisma %> <br>
<%= p.text_field :charisma %> <br>
<%= p.label :wisdom %> <br>
<%= p.text_field :wisdom %> <br>
<%= p.submit 'Create' %>
<% end %>