
<h2> <%= @player.nickname %></h2>
<h2> <%= @player.rank %></h2>
<h2> <%= @player.charisma %></h2>
<h2> <%= @player.wisdom %></h2>

<%= link_to 'Back', root_path %> <br>
<%= link_to 'Edit', edit_player_path(@player.id) %> <br>
<%= link_to 'Delete', player_path(@player.id), method: :delete, data: {confirm: "Are you sure?"}%>
